apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote-container
          image: pokfinner/vote:latest
          env:
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_HOST
              value: redis-service
          ports:
            - containerPort: 80
